@charset "UTF-8";

*{margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }

    body,html{
height: 100vh;
width: 100vw;

    }

    main{
        height: 100vh;
        width: 100vw;
        position: relative;
        }

        #div-login{
            height: 100vw;
            padding: 20px;
transition: width 0.4s, heigth 0.4s;
transition-timing-function: ease;
        }


        #i-email{
                border-radius: 5px;
                cursor: pointer;
                padding: 10px;
            }
            #i-password{
                border-radius: 5px;
                cursor: pointer;
                padding: 10px;
            } 

            #i-submit{
                border-radius: 5px;
                cursor: pointer;
            }
            
            #i-submit:hover{
background-color: rgb(3, 53, 68);
color: white;
            }

            #i-button{
                border-radius: 5px;
                cursor: pointer;
            }
        
            #i-button:hover{
                background-color: rgb(3, 53, 68);
                color: white;

            }
            #pessoa,#chave{
color: rgba(5, 64, 92, 0.966);



            }